/target
.idea
.local
dev.db
phodal.dev
examples/blog/*
examples/notes/*
examples/microsoft_todo/*
examples/onenote/*
examples/papers/pdca
.DS_Store
libs/quake_importer/scripts/readnotes/*
dbs/NoteStore.sqlite
dbs/NoteStore.sqlite-shm
dbs/NoteStore.sqlite-wal
dbs
dump.json
quake_webapp/temp
test_dir
pagedump
examples/demo_papers
