/target
.idea
dev.db
phodal.dev
_fixtures/phodal_com/*
_fixtures/notes/*
_fixtures/microsoft_todo/*
.DS_Store
quake_importer/scripts/readnotes/*
dbs/NoteStore.sqlite
dbs/NoteStore.sqlite-shm
dbs/NoteStore.sqlite-wal
dbs
dump.json
quake_webapp/temp
