/target
.idea
dev.db
phodal.dev
examples/blog/*
examples/notes/*
examples/microsoft_todo/*
.DS_Store
quake_importer/scripts/readnotes/*
dbs/NoteStore.sqlite
dbs/NoteStore.sqlite-shm
dbs/NoteStore.sqlite-wal
dbs
dump.json
quake_webapp/temp
test_dir
